@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
  display: flex;
  justify-content: center;
  align-items: center;
border: 2px solid green;
min-height: 95vh;
font-family: 'Montserrat', sans-serif;
}

#app-container{
  border: 2px solid;
  width: 30rem;
  padding: 1rem;
}